<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="end" name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div>
      <ion-searchbar show-cancel-button="always"></ion-searchbar>
    </div>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="basket-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-segment scrollable value="1">
    <ion-segment-button value="1" (click)="onPromotion">
      <ion-label>แนะนำ</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>ชื่อเรื่องที่ 1</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>ชื่อเรื่องที่ 2</ion-label>
    </ion-segment-button>
    <ion-segment-button value="4">
      <ion-label>ชื่อเรื่องที่ 3</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="ion-padding">

    <ion-grid>
      <ion-row>
        <ion-button color="light" (click)="onAction">Action</ion-button>
        <ion-button color="light" (click)="onCrime">Crime</ion-button>
        <ion-button color="light" (click)="onHorror">Horror</ion-button>
        <ion-button color="light" (click)="onDrama">Drama</ion-button>
        <ion-button color="light" (click)="onAnimation">Animation</ion-button>
        <!-- <ion-col size="2">
          <ion-badge color="light">Action</ion-badge>
        </ion-col>
        <ion-col size="2">
          <ion-badge color="light">Crime</ion-badge>
        </ion-col>
        <ion-col size="2">
          <ion-badge color="light">Horror</ion-badge>
        </ion-col>
        <ion-col size="2">
          <ion-badge color="light">Drama</ion-badge>
        </ion-col>
        <ion-col size="2">
          <ion-badge color="light">Animation</ion-badge>
        </ion-col> -->
      </ion-row>
    </ion-grid>

  </div>

  <div  class="contents">
    <ion-card >
      <ion-slides [options]="options">

        <ion-slide>
          
          <ion-grid>
            <ion-row>
              <ion-col size="5" class="poster-col">
                <img class="poster" src="https://d25tv1xepz39hi.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg" alt="">
              </ion-col>
              <ion-col size="5">
                <h5 class="ion-no-margin">Movie Title 1</h5>
                <p class="ion-no-margin rate">
                  <ion-icon name="star"></ion-icon> 8.5
                </p>
                <ion-button color="danger"> Buy </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          
          
        </ion-slide>
        
        <ion-slide>
          
          <ion-grid>
            <ion-row>
              <ion-col size="5" class="poster-col">
                <img class="poster" src="https://d25tv1xepz39hi.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg" alt="">
              </ion-col>
              <ion-col size="5">
                <h5 class="ion-no-margin">Movie Title 2</h5>
                <p class="ion-no-margin rate">
                  <ion-icon name="star"></ion-icon> 8.5
                </p>
                <ion-button  color="danger" > Buy </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          
          
        </ion-slide>
        
        <ion-slide>
          
          <ion-grid>
            <ion-row>
              <ion-col size="5" class="poster-col">
                <img class="poster" src="https://d25tv1xepz39hi.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg" alt="">
              </ion-col>
              <ion-col size="5">
                <h5 class="ion-no-margin">Movie Title 3</h5>
                <p class="ion-no-margin rate">
                  <ion-icon name="star"></ion-icon> 8.5
                </p>
                <ion-button  color="danger" > Buy </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
            
        </ion-slide>
        
        <ion-slide>
          
          <ion-grid>
            <ion-row>
              <ion-col size="5" class="poster-col">
                <img class="poster" src="https://d25tv1xepz39hi.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg" alt="">
              </ion-col>
              <ion-col size="5">
                <h5 class="ion-no-margin">Movie Title 4</h5>
                <p class="ion-no-margin rate">
                  <ion-icon name="star"></ion-icon> 8.5
                </p>
                <ion-button color="danger" > Buy </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          
          
        </ion-slide>
        
      </ion-slides>
    </ion-card>

  </div>
  
  <!-- ดูต่อ -->
  <div  class="contents">
    <ion-card>
      <h2>ดูต่อ</h2>
      <ion-slides [options]="options">
        
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col size="4" class="poster-col">
                <img class="poster" src="https://d25tv1xepz39hi.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg" alt="">
                <h5 class="ion-no-margin">Movie Title 1</h5>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col size="4" class="poster-col">
                <img class="poster" src="https://d25tv1xepz39hi.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg" alt="">
                <h5 class="ion-no-margin">Movie Title 2</h5>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col size="4" class="poster-col">
                <img class="poster" src="https://d25tv1xepz39hi.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg" alt="">
                <h5 class="ion-no-margin">Movie Title 3</h5>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        
      </ion-slides>
    </ion-card>

  </div>

  <!-- ปุ่ม -->
  <div>
    <ion-button>จัดอันดับ</ion-button>
    <ion-button>ดูทั้งหมด</ion-button>
    
  </div>

  <!-- เร็วๆนี้ -->
    <ion-card>
      <h2> เร็วๆนี้ </h2>
        <ion-slide >
          <ion-slide>
            <ion-grid>
              <ion-row>
            <ion-col size="4" class="poster-col">
              <img class="poster" src="https://d25tv1xepz39hi.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg" alt="">
              <h5 class="ion-no-margin">Movie Title 1</h5>
            </ion-col>
            <ion-col size="4" class="poster-col">
              <img class="poster" src="https://d25tv1xepz39hi.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg" alt="">
              <h5 class="ion-no-margin">Movie Title 2</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" class="poster-col">
              <img class="poster" src="https://d25tv1xepz39hi.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg" alt="">
              <h5 class="ion-no-margin">Movie Title 1</h5>
            </ion-col>
            <ion-col size="4" class="poster-col">
              <img class="poster" src="https://d25tv1xepz39hi.cloudfront.net/2017-08-21/files/landscape-photography_1645.jpg" alt="">
              <h5 class="ion-no-margin">Movie Title 2</h5>
            </ion-col>
          </ion-row>
        </ion-grid>
          </ion-slide>
        </ion-slide>
    </ion-card>

    
  
</ion-content>
